extends template.pug 


block content 
    div(class="formContainer")
       form(action="/guitars", method="post", enctype="multipart/form-data")
            input( type="text", name="title", placeholder="Guitar name")
            input( type="file", name="myFiles", multiple)
            input(type = "submit", value = "Save")
