extends template.pug


block content
    if guitars
       div(class = "guitarContainer") 
            each guitar in guitars
                div(class="guitar" id=guitar.id)
                    h3=guitar.title 
                    a(href="/guitars/"+guitar.id data-type="delete") delete